<app-header></app-header>
<div class="container">
    <div class="language-Bar col-3" >
           
    </div>
    <form  [formGroup]="registerForm" (ngSubmit)="postData(registerForm.value);">
        <!-- Email input -->
        <div class="col-xs-6 container__form ">
        <h1 class="m-5 form--header">{{"Register a new account" }}</h1>
        <div class="form-outline mb-4">
          <input type="text" id="form2Example1" class="form-control" formControlName="nameInput"/>
          <label class="form-label" for="form2Example1">{{"Your Name" }}</label>
          <div *ngIf="registerForm.get('nameInput')?.touched && registerForm.get('nameInput')?.hasError('required')">{{"Type Your Name Here" }}</div>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="form2Example1" class="form-control " formControlName="nickNameInput"/>
            <label class="form-label" for="form2Example1">{{"Your Nickname" }}</label>
            <div *ngIf="registerForm.get('nickNameInput')?.touched && registerForm.get('nickNameInput')?.hasError('required')">{{"Type Your Nickname Here" }}</div>
          </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" formControlName="passwordInput"/>
          <label class="form-label" for="form2Example2">{{"Password" }}</label>
          <div *ngIf="registerForm.get('passwordInput')?.touched && registerForm.get('passwordInput')?.hasError('required')">{{"Type Your Password Here" }}</div>
          <div *ngIf="registerForm.get('passwordInput')?.touched && registerForm.get('passwordInput')?.hasError('minlength')">{{"Minimum 8 Characters Required" }}</div>
        </div>
       
        <!-- Submit button -->
        <div class=" container__buttons d-flex flex-column">
          <div class="col-xs-3 mt-2">
        <button  type="submit"  class="btn btn-primary btn-block m-4" [disabled]="!registerForm.valid">{{"register" }}</button>
      </div>
      </div>
    </div>
      </form>
</div>
